/* Styling the Body element
        i.e. Color, Font, Alignment */
img {
    width: 600px;
}

h1 {
    color: #a0e5fa; /* Code Ada Blue is #dcf2fe, this blue contrasts better*/
    font-size: 20px;
}
h3 {
    text-align: left;
}

p {
    text-align: left;
}

ul {
    text-align: left;
}
.navbar{ /* navbar formatting*/
    background-color: #a0e5fa;
    overflow: hidden;
    padding: 15px;
    max-width: 700px; /* same width as form */
    margin: 0 auto; /* center the navbar */
}

#userInfo {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

.navbar a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 10px;
}

.navbar a:hover {
    background-color: #82ddf8; /*slightly darker blue on hover*/
    color: black; /* Change text color on hover */
}

.survey {
    background-color: #b2a2d2; /* Same color as Code Ada purple*/
    font-family: "Andale Mono",serif;
    text-align: center;
}

/* Styling the Form (Color, Padding, Shadow) */
form {
    background-color: #fff;
    max-width: 700px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(220, 242, 254, 1);
}

/* Styling form-control Class */
.form-control {
    text-align: left;
    margin-bottom: 25px;
}

/* Styling form-control Label */
.form-control label {
    display: block;
    margin-bottom: 10px;
}

/* Styling form-control input,
select, textarea */
.form-control input,
.form-control select,
.form-control textarea {
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;
}

/* Styling form-control Radio
button and Checkbox */
.form-control input[type="radio"],
.form-control input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

/* Styling Button */
button {
    background-color: #a0e5fa; /*bluer than the code ada blue*/
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    font-size: 21px;
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}
